body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #3f9fcc;
  background-image: linear-gradient(to bottom, #d5d5dd, #272525);
}
h1{
  color: rgb(168, 34, 150);
  text-align: center;

}

.car {
  width: 500px;
  background-color: transparent;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.image {
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.model {
  justify-content: center;
  margin-left: 150px;

}

.description{
  background-color:transparent;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1)
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B0B0B0;
  border: 1px solid #B0B0B0;
  transition: .4s;
  border-radius: 32px;
  outline: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: 2px solid #B0B0B0;
  left: -1px;
  bottom: -1px;
  background-color: #fff;
  transition: transform .25s ease-in-out 0s;
}

.slider-icon {
  opacity: 0;
  height: 12px;
  width: 12px;
  stroke-width: 8;
  position: absolute;
  z-index: 999;
  stroke: #222222;
  right: 60%;
  top: 30%;
  transition: right ease-in-out .3s, opacity ease-in-out .15s;
}

input:checked + .slider {
  background-color: #222222;
}

input:checked + .slider .slider-icon {
  opacity: 1;
  right: 20%;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  outline-color: #181818;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
/*

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #a23535
}
.car-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .car {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #ce3333;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        .car img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .buy-btn {
            background-color: #377ea7;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 125px;
            cursor: pointer;
            
        }
        .buy-btn:hover {
            background-color: #0056b3;
        }
        .Sell-btn { 
            background-color: #2ea662;
            color: #fff;
            cursor: pointer;
            border: none;
            padding:  2px;
            border-radius: 0;
            height: 185px;

        }
        span{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            color: #0e3750;


        }

    
        #cars {
            margin: 20px auto;
            display: block;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 200px;
            font-size: 16px;
        }
 */
